/*共用样式*/
/*分类图片*/
.categoryPoster{
    padding: 0.2rem;
}
.content>div{
    margin-bottom: 0;
}
.content{
    background: #ffffff;
}
.prompt{
    font-size: 0.25rem;
    color: rgb(150,150,150);
    font-weight: 300;
    text-align: center;
    padding: 0.3rem 0;
    border-top: 0.01rem solid rgba(150,150,150,0.2);
}